@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.content{
    height: 100vh;
    width: 50vw;
    background-color: #121214;
    position: absolute;
    z-index: 1;
}

.content-center { 
    margin-left: 30px;
    height: 102px;
    margin-top: 92px;
}

.content-center h3 {
    color: #04D361;
    margin-bottom: 9px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font: 24px;
}

.content-center h4{
    color: #FFFFFF;
    margin-bottom: 9px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.content-center p {
    color: #FFFFFF;
    font-family: 'Spartan', sans-serif;
    font-weight: 400 ;
    font-size: 14px;
}

.form {
    margin-top: 50px;
    height: 84px;
}

.input {
    position: absolute;
    width: 110%;
    background-color: white;
    height: 48px;
    display: flex;
    flex-direction: row;
    margin-top: 17px;
}

.form label {
    color: #A8A8A8;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
}

.input input{
    height: 100%;
    width: 100%;
    border: none;
    margin-left: 10px;
}

.input input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.bar-style{
    width: 5px;
    height: 48px;
    background-color: #04D361;
}

.img-send {
    height: 48px;
    width: 49px;
    background-color: #8257E5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.img-send img{
    height: 24px;
    width: 24px;
}


.img-logo{
    height: 94px;
    width: 389px;
    margin-top: 50px;
    margin-left: 30px;
}

.link{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24px;
    width: 196px;
    justify-content: start;
}

.link a {
    margin-right: 2px;
    color: #8257e5;
    font-family: 'Spartan' sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.image {
    height: 100vh;
    width: 50vw;
}

.image img{
    width: 1175px;
    height: 100%;
    position: absolute;
    z-index: 0;
    left: 361px;
}
